@using Infrastructure.Common.Enums;

@model ApplicationCore.ServiceModels.Admin.DriverAdminServiceModel
@{
    ViewData["Title"] = "DriverProfile";

    // Used to pass multiple data through asp-all-route-data
    var identityData = new Dictionary<string, string>
    {
        { "uploaderId", Model.DriverId },
        { "documentType", DocumentTypes.IdentityDocument.ToString() }
    };
    var licenceData = new Dictionary<string, string>
    {
        { "uploaderId", Model.DriverId },
        { "documentType", DocumentTypes.DrivingLicence.ToString() }
    };
    var niNoData = new Dictionary<string, string>
    {
        { "uploaderId", Model.DriverId },
        { "documentType", DocumentTypes.NationalInsuranceNumber.ToString() }
    };
}

<div class="container" data-layout="container">
    <partial name="_NavbarPartial" />
    <div class="content" style="margin-top: 1%">
        @*-- Driver profile top card --*@
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h5 class="mb-2">@Model.FullName (<a href="mailto:@Model.Email">@Model.Email</a>)</h5>
                    </div>
                    <div class="col-auto d-none d-sm-block">
                        <h6 class="text-uppercase text-600">Driver<span class="fas fa-user ms-2"></span></h6>
                    </div>
                </div>
            </div>
            <div class="card-body border-top">
                <div class="d-flex">
                    <span class="fas fa-user text-success me-2" data-fa-transform="down-5"></span>
                    <div class="flex-1">
                        <p class="mb-0">Driver was created</p>
                        <p class="fs--1 mb-0 text-600">@Model.CreatedOn.ToString("dd MMM yyyy hh:mm:ss tt")</p>
                    </div>
                    <div class="col-auto d-none d-sm-block">
                        <button class="btn btn-falcon-default btn-sm dropdown-toggle ms-2 dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-danger" href="#">Delete driver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*-- Working Days --*@
        <div class="card mb-3">
            <div class="card-header">
                <div class="col-auto">
                    <h5 class="mb-0">Working Days</h5>
                </div>
            </div>
            <div class="card-body fs--1">
                <div class="row">
                    @foreach (var workedDay in Model.WorkingDays)
                    {
                        <div class="col-md-6 h-100" id="row_@workedDay.Id">
                            <div class="d-flex btn-reveal-trigger">
                                <div class="calendar">
                                    <span class="calendar-month">@workedDay.Date.ToString("MMM")</span>
                                    <span class="calendar-day">@workedDay.Date.ToString("dd")</span>
                                </div>
                                <div class="flex-1 position-relative ps-3">
                                    <p class="text-1000 mb-0">Time in: @workedDay.TimeIn.ToString("hh\\:mm")</p>
                                    <p class="text-1000 mb-0">Break: @workedDay.Break.ToString("hh\\:mm")</p>
                                    <p class="text-1000 mb-0">Time out: @workedDay.TimeOut.ToString("hh\\:mm")</p>
                                    <p class="text-1000 mb-0">Total hours: @workedDay.TotalHours.ToString("hh\\:mm")</p>
                                    <div class="border-dashed-bottom my-3"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*-- Driver details --*@
        <div class="card mb-3">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="mb-0">Details</h5>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-falcon-default btn-sm dropdown-toggle ms-2 dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documents</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Documents" asp-action="Download" asp-all-route-data="licenceData">Driving licence</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Documents" asp-action="Download" asp-all-route-data="identityData">Identity document</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Documents" asp-action="Download" asp-all-route-data="niNoData">NiNo letter</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-light border-top">
                <div class="row">
                    <div class="col-lg col-xxl-5">
                        <h6 class="fw-semi-bold ls mb-3 text-uppercase">Personal details</h6>
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                <p class="fw-semi-bold mb-1">Name</p>
                            </div>
                            <div class="col">@Model.FirstNames @Model.Surname</div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                <p class="fw-semi-bold mb-1">Date of birth</p>
                            </div>
                            <div class="col">@Model.DateOfBirth.ToString("dd/MM/yyyy")</div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                <p class="fw-semi-bold mb-1">Email</p>
                            </div>
                            <div class="col"><a href="mailto:@Model.Email">@Model.Email</a></div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                <p class="fw-semi-bold mb-1">Phone number</p>
                            </div>
                            <div class="col">
                                <p class="fst-italic text-400 mb-1"><a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                <p class="fw-semi-bold mb-0">Address</p>
                            </div>
                            <div class="col">
                                <p class="fst-italic text-400 mb-0"><a href="http://maps.google.com/?q=@Model.Address,@Model.Postcode" target="_blank" rel="noopener noreferrer">@Model.Address, @Model.Postcode</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg col-xxl-5 mt-4 mt-lg-0 offset-xxl-1">
                        <h6 class="fw-semi-bold ls mb-3 text-uppercase">Additional information</h6>
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                <p class="fw-semi-bold mb-1">Driving licence</p>
                            </div>
                            <div class="col">@string.Join(", ", Model.DrivingLicenceCategories)</div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                <p class="fw-semi-bold mb-1">NiNo</p>
                            </div>
                            <div class="col">
                                <p class="mb-1">@Model.NiNo</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                <p class="fw-semi-bold mb-1">LTD</p>
                            </div>
                            <div class="col">@Model.LimitedCompany</div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                <p class="fw-semi-bold mb-0">Registration number</p>
                            </div>
                            <div class="col">
                                <p class="fw-semi-bold mb-0">@Model.CompanyRegistrationNumber</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer border-top text-end">
                <a class="btn btn-falcon-default btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Emergency contact</a>
            </div>
        </div>
        @*-- Emergency contact collapse --*@
        <div class="collapse" id="collapseExample">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="mb-0">Emergency contact</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light border-top">
                    <div class="row">
                        <div class="col-lg col-xxl-5">
                            <h6 class="fw-semi-bold ls mb-3 text-uppercase">Details</h6>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="fw-semi-bold mb-1">Name</p>
                                </div>
                                <div class="col">@Model.EmergencyContact.Title @Model.EmergencyContact.FirstNames @Model.EmergencyContact.Surname</div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="fw-semi-bold mb-1">Email</p>
                                </div>
                                <div class="col"><a href="mailto:@Model.EmergencyContact.Email">@Model.EmergencyContact.Email</a></div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="fw-semi-bold mb-1">Phone number</p>
                                </div>
                                <div class="col">
                                    <p class="fst-italic text-400 mb-1"><a href="tel:@Model.EmergencyContact.PhoneNumber">@Model.EmergencyContact.PhoneNumber</a></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="fw-semi-bold mb-0">Address</p>
                                </div>
                                <div class="col">
                                    <p class="fst-italic text-400 mb-0"><a href="http://maps.google.com/?q=@Model.EmergencyContact.Address,@Model.EmergencyContact.Postcode" target="_blank" rel="noopener noreferrer">@Model.EmergencyContact.Address, @Model.EmergencyContact.Postcode</a></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="fw-semi-bold mb-0">Relationship</p>
                                </div>
                                <div class="col">
                                    <p class="fst-italic text-400 mb-0">@Model.EmergencyContact.Relationship</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-top">
                </div>
            </div>
        </div>
    </div>
</div>

