@using Infrastructure.Common.Global
@model ApplicationCore.ServiceModels.Document.DocumentationGridServiceModel

@{
    ViewData["Title"] = "Documentation";
}

<div class="container" data-layout="container">
    <partial name="_NavbarPartial" />
    <div class="content" style="margin-top: 1%">
        <div class="card mb-3" style="padding-left: 1%; padding-right: 1%;">

            @*-- Documentation header --*@
            <div class="card-header border-bottom">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0">Documents</h4>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-falcon-default btn-sm" type="button" asp-controller="Documents" asp-action="SendDocument"><span class="fas fa-paper-plane" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Send Document</span></a>
                        <a class="btn btn-falcon-default btn-sm mx-2" type="button" data-bs-toggle="modal" data-bs-target="#documents-filter" asp-controller="Documents"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Filter</span></a>
                    </div>
                </div>
            </div>

            @*-- Document Cards --*@
            <div class="card-body">
                <div class="row">
                    @foreach (var doc in Model.Documents)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="card mb-3" style="padding-left: 1%; padding-right: 1%;">
                                <div class="card-body">
                                    @if (doc.IsSigned)
                                    {
                                        <h5 class="card-title"><span class="fas fa-check-circle text-success"></span> @doc.Name</h5>
                                    }
                                    else
                                    {
                                        <h5 class="card-title">@doc.Name</h5>
                                    }
                                    <hr />
                                    <p class="card-text">@doc.MessageToEmployee</p>
                                    <p>@doc.SentTo.FirstNames @doc.SentTo.Surname</p>
                                    <p>@doc.UploadedOn</p>
                                    <hr />
                                    @*-- preview btn --*@
                                    <a class="btn btn-primary btn-sm" onclick="Documents.onPreviewClick('@doc.Id')"><span class="fas fa-eye" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Preview</span></a>
                                    @if (User.IsInRole(Role.Admin))
                                    {
                                        @*-- delete btn --*@
                                        <a class="btn btn-danger btn-sm" onclick="Documents.deleteConfirmation('@doc.Id')" style='cursor: pointer'><span class="fas fa-trash" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Delete</span></a>
                                    }
                                    else
                                    {
                                        @*-- upload btn --*@
                                        <a class="btn btn-secondary btn-sm" asp-action="UploadSignedDocument" asp-route-docId="@doc.Id" style='cursor: pointer'><span class="fas fa-upload" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Upload</span></a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.Documents.Count is 0)
                {
                    <div class="row">
                        <h6 class="text-center">No records</h6>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="deleteConfirmationDialog"></div>

@section Scripts{

    <script src="@Url.Content("~/js/Views/Documents/Documents.js")"></script>

    <script>
        $(document).ready(function () {
            Documents.onInit({
                deleteConfirmationUrl: '@Url.Action("ConfirmDeletion", "Documents")'
            });
        });
    </script>
}