@using Infrastructure.Common.Enums;

@model ApplicationCore.ServiceModels.Driver.DriverDetailsServiceModel

<div class="bg-holder" style="background-image:url(../../img/map.svg);height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;"></div>

<div class="container" data-layout="container">

    <nav class="navbar navbar-light navbar-fixed-top">
    </nav>
    <div class="row mt-5">
        <div class="col-lg-12 h-100">
            <form asp-controller="Drivers" asp-action="DriverDetails" method="post" enctype="multipart/form-data">

                @*--Driver personal details--*@
                <div class="card mb-5">
                    <div class="card-header bg-light pt-3 pb-2">
                        <div class="d-flex justify-content-center">
                            <h3>Personal details</h3>
                        </div>
                    </div>
                    <div class="px-sm-3 px-md-5">
                        <div class="card-body py-4">
                            <div class="mb-3">
                                <label asp-for="Title"></label>
                                <select class="form-control" asp-for="Title" asp-items="Html.GetEnumSelectList<Titles>()">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="Title" class="text-danger" style="font-size: smaller"></span>
                            </div>
                            <div class="row g-2">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="FirstNames"></label>
                                        <input class="form-control" asp-for="FirstNames" type="text" placeholder="John Smith" />
                                        <span asp-validation-for="FirstNames" class="text-danger" style="font-size:smaller;"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="Surname"></label>
                                        <input class="form-control" asp-for="Surname" type="text" placeholder="Western" />
                                        <span asp-validation-for="Surname" class="text-danger" style="font-size:smaller;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="Address"></label>
                                        <input class="form-control" asp-for="Address" type="text" placeholder="7 White Road, Birmingham, West Midlands" />
                                        <span asp-validation-for="Address" class="text-danger" style="font-size:smaller;"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="Postcode"></label>
                                        <input class="form-control" asp-for="Postcode" type="text" placeholder="E1 1AA" />
                                        <span asp-validation-for="Postcode" class="text-danger" style="font-size:smaller;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="PhoneNumber"></label>
                                <input class="form-control" asp-for="PhoneNumber" type="text" placeholder="(+44) 07312365411" />
                                <span asp-validation-for="PhoneNumber" class="text-danger" style="font-size:smaller;"></span>
                            </div>
                        </div>
                    </div>
                </div>

                @*--Documents--*@
                <div class="card mb-5">
                    <div class="card-header bg-light pt-3 pb-2">
                        <div class="d-flex justify-content-center">
                            <h3>Documents</h3>
                        </div>
                    </div>
                    <div class="px-sm-3 px-md-5">
                        <div class="card-body py-4">
                            <div class="mb-3">
                                <label class="form-label" asp-for="DrivingLicenceCategories"></label>
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <ul class="list-group" style="max-height: 200px; overflow: scroll; -webkit-overflow-scrolling: touch;">
                                            @for (int i = 0; i < Model.DrivingLicenceCategories.Length; i++)
                                            {
                                                <li class="list-group-item form-control">
                                                    <input asp-for="@Model.DrivingLicenceCategories[i].IsChecked" type="checkbox" />
                                                    <label asp-for="@Model.DrivingLicenceCategories[i].IsChecked"> @Model.DrivingLicenceCategories[i].Text</label>
                                                    <input asp-for="@Model.DrivingLicenceCategories[i].Text" type="hidden" />
                                                    <input asp-for="@Model.DrivingLicenceCategories[i].Value" type="hidden" />
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <span asp-validation-for="DrivingLicenceCategories" class="text-danger" style="font-size: smaller"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Documents.DrivingLicenceFront"></label>
                                <input class="form-control" asp-for="Documents.DrivingLicenceFront" type="file" required value="@Model.Documents.DrivingLicenceFront">
                                <span asp-validation-for="Documents.DrivingLicenceFront" class="text-danger" style="font-size: smaller"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Documents.DrivingLicenceBack"></label>
                                <input class="form-control" asp-for="Documents.DrivingLicenceBack" type="file" required value="@Model.Documents.DrivingLicenceBack">
                                <span asp-validation-for="Documents.DrivingLicenceBack" class="text-danger" style="font-size: smaller"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Documents.IdentityDocumentFront"></label>
                                <input class="form-control" asp-for="Documents.IdentityDocumentFront" type="file" required value="@Model.Documents.IdentityDocumentFront">
                                <span asp-validation-for="Documents.IdentityDocumentFront" class="text-danger" style="font-size: smaller"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Documents.IdentityDocumentBack"></label>
                                <input class="form-control" asp-for="Documents.IdentityDocumentBack" type="file" value="@Model.Documents.IdentityDocumentBack">
                                <span asp-validation-for="Documents.IdentityDocumentBack" class="text-danger" style="font-size: smaller"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="NationalInsuranceNumber"></label>
                                <input class="form-control" asp-for="NationalInsuranceNumber" type="text">
                                <span asp-validation-for="NationalInsuranceNumber" class="text-danger" style="font-size: smaller"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Documents.NationalInsuranceNumber"></label>
                                <input class="form-control" asp-for="Documents.NationalInsuranceNumber" type="file" required value="@Model.Documents.NationalInsuranceNumber">
                                <span asp-validation-for="Documents.NationalInsuranceNumber" class="text-danger" style="font-size: smaller"></span>
                            </div>
                        </div>
                    </div>
                </div>

                @*--Emergency contact--*@
                <div class="card mb-5">
                    <div class="card-header bg-light pt-3 pb-2">
                        <div class="d-flex justify-content-center">
                            <h3>Emergency contact</h3>
                        </div>
                    </div>
                    <div class="px-sm-3 px-md-5">
                        <div class="card-body py-4">
                            <div class="mb-3">
                                <label class="form-label" asp-for="EmergencyContact.Title"></label>
                                <select asp-for="EmergencyContact.Title" asp-items="Html.GetEnumSelectList<Titles>()" class="form-control">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="EmergencyContact.Title" class="text-danger" style="font-size: smaller"></span>
                            </div>
                            @*
                                    <div class="row g-2">
                                    <div class="col-6">
                                    </div>
                                </div>
                            *@

                            <div class="row g-2">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="EmergencyContact.FirstNames"></label>
                                        <input asp-for="EmergencyContact.FirstNames" type="text" class="form-control">
                                        <span asp-validation-for="EmergencyContact.FirstNames" class="text-danger" style="font-size: smaller"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="EmergencyContact.Surname"></label>
                                        <input asp-for="EmergencyContact.Surname" type="text" class="form-control">
                                        <span asp-validation-for="EmergencyContact.Surname" class="text-danger" style="font-size: smaller"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="EmergencyContact.Address"></label>
                                        <input asp-for="EmergencyContact.Address" type="text" class="form-control">
                                        <span asp-validation-for="EmergencyContact.Address" class="text-danger" style="font-size: smaller"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="EmergencyContact.Postcode"></label>
                                        <input asp-for="EmergencyContact.Postcode" type="text" class="form-control">
                                        <span asp-validation-for="EmergencyContact.Postcode" class="text-danger" style="font-size: smaller"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="EmergencyContact.Email"></label>
                                        <input asp-for="EmergencyContact.Email" type="email" class="form-control">
                                        <span asp-validation-for="EmergencyContact.Email" class="text-danger" style="font-size: smaller"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="EmergencyContact.PhoneNumber"></label>
                                        <input asp-for="EmergencyContact.PhoneNumber" type="text" class="form-control">
                                        <span asp-validation-for="EmergencyContact.PhoneNumber" class="text-danger" style="font-size: smaller"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="EmergencyContact.Relationship"></label>
                                <input asp-for="EmergencyContact.Relationship" type="text" class="form-control">
                                <span asp-validation-for="EmergencyContact.Relationship" class="text-danger" style="font-size: smaller"></span>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>

                @*--Limited company--*@
                <div class="card mb-5">
                    <div class="card-header bg-light pt-3 pb-2">
                        <div class="d-flex justify-content-center">
                            <h3>Limited company</h3>
                        </div>
                    </div>
                    <div class="px-sm-3 px-md-5">
                        <div class="card-body py-4">
                            @if (Model.IsLimitedCompany == null)
                            {
                                <div class="mb-3">
                                    <label class="form-label">Do you have Limited Company(LTD)</label><br />
                                    <div class="form-check">
                                        <input asp-for="IsLimitedCompany" class="form-check-input" type="radio" value="Yes" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input asp-for="IsLimitedCompany" class="form-check-input" type="radio" value="No" id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            No
                                        </label>
                                    </div>
                                </div>
                                <br />
                                <div class="limited-company">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="LimitedCompany.CompanyName"></label>
                                        <input asp-for="LimitedCompany.CompanyName" type="text" class="form-control">
                                        <span asp-validation-for="LimitedCompany.CompanyName" class="text-danger" style="font-size: smaller"></span>
                                    </div>
                                    <br />
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="LimitedCompany.CompanyRegistrationNumber"></label>
                                        <input asp-for="LimitedCompany.CompanyRegistrationNumber" type="text" class="form-control">
                                        <span asp-validation-for="LimitedCompany.CompanyRegistrationNumber" class="text-danger" style="font-size: smaller"></span>
                                    </div>
                                    <br />
                                </div>
                            }
                            else
                            {
                                @if (Model.IsLimitedCompany is "No")
                                {
                                    <div class="mb-3">
                                        <label class="form-label">Do you have Limited Company(LTD)</label><br />
                                        <div class="form-check">
                                            <input asp-for="IsLimitedCompany" class="form-check-input" type="radio" value="Yes" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="IsLimitedCompany" class="form-check-input" type="radio" value="No" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="limited-company" hidden>
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="LimitedCompany.CompanyName"></label>
                                            <input asp-for="LimitedCompany.CompanyName" type="text" class="form-control">
                                            <span asp-validation-for="LimitedCompany.CompanyName" class="text-danger" style="font-size: smaller"></span>
                                        </div>
                                        <br />
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="LimitedCompany.CompanyRegistrationNumber"></label>
                                            <input asp-for="LimitedCompany.CompanyRegistrationNumber" type="text" class="form-control">
                                            <span asp-validation-for="LimitedCompany.CompanyRegistrationNumber" class="text-danger" style="font-size: smaller"></span>
                                        </div>
                                        <br />
                                    </div>
                                }
                                @if (Model.IsLimitedCompany is "Yes")
                                {
                                    <div class="mb-3">
                                        <label class="form-label">Do you have Limited Company(LTD)</label><br />
                                        <div class="form-check">
                                            <input asp-for="IsLimitedCompany" class="form-check-input" type="radio" value="Yes" id="flexRadioDefault1" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="IsLimitedCompany" class="form-check-input" type="radio" value="No" id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="limited-company">
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="LimitedCompany.CompanyName"></label>
                                            <input asp-for="LimitedCompany.CompanyName" type="text" class="form-control">
                                            <span asp-validation-for="LimitedCompany.CompanyName" class="text-danger" style="font-size: smaller"></span>
                                        </div>
                                        <br />
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="LimitedCompany.CompanyRegistrationNumber"></label>
                                            <input asp-for="LimitedCompany.CompanyRegistrationNumber" type="text" class="form-control">
                                            <span asp-validation-for="LimitedCompany.CompanyRegistrationNumber" class="text-danger" style="font-size: smaller"></span>
                                        </div>
                                        <br />
                                    </div>
                                }
                            }
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Onboard</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const YES = 'Yes';
        const NO = 'No';

            $(document).ready(function () {
            // On page loading hides or show the limited company section
            @if (Model.IsLimitedCompany is null)
            {
                @:$('.limited-company').hide();
            }
            else
            {
                @if (Model.IsLimitedCompany is "Yes")
                {
                    @:$('.limited-company').show();
                }
                @if (Model.IsLimitedCompany is "No")
                {
                    @:$('.limited-company').hide();
                }
            }

            $('input[type="radio"]').click(function () {
                // Get the checked radio button
                var inputValue = $("input[type='radio']:checked").val();
                if (inputValue === YES) {
                    $('.limited-company').show();
                }
                else if (inputValue === NO) {
                    $('.limited-company').hide();
                }
            });
        });
    </script>
}
