@model ApplicationCore.ServiceModels.Driver.DriverProfileServiceModel

@{
    TempData["Title"] = "Profile";
}

<div class="container" data-layout="container">
    <partial name="_NavbarPartial" />
    <div class="content" style="margin-top: 1%">
        <div class="row g-3 mb-3">
            <!-- #region Driver greeting -->
            <div class="col-lg-12">
                <div class="card bg-transparent-50 overflow-hidden">
                    <div class="card-body position-relative">
                        <div class="bg-holder d-none d-md-block bg-card z-index-1" style="background-image:url(../../img/icons/corner-3.png);background-size:230px;background-position:right bottom;z-index:-1;"></div>
                        <!--/.bg-holder-->

                        <div class="position-relative z-index-2">
                            <div>
                                <h3 class="text-primary mb-1">
                                    @{
                                        if (DateTime.Now.Hour <= 12)
                                        {
                                            @:Good Morning
                                        }
                                        else if (DateTime.Now.Hour <= 16)
                                        {
                                            @:Good Afternoon
                                        }
                                        else if (DateTime.Now.Hour <= 20)
                                        {
                                            @:Good Evening
                                        }
                                        else
                                        {
                                            @:Good Night
                                        }
                                    }, @Model.Title.ToLower() @Model.Surname!
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
            <!-- #region Deliveries -->
            <div class="col-lg-12">
                <div class="card mb-3 mb-lg-0">
                    <div class="card-header bg-light d-flex justify-content-between">
                        <div class="col-auto">
                            <h5 class="mb-0">Worked Days</h5>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-falcon-primary btn-sm" asp-controller="WorkingDays" asp-action="AddWorkingDay" asp-route-driverId="@Model.DriverId"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1"></span>Add</a>
                        </div>
                    </div>
                    <div class="card-body fs--1">
                        <div class="row">
                            @foreach (var workedDay in Model.WorkedDays)
                            {
                                <div class="col-md-6 h-100">
                                    <div class="d-flex btn-reveal-trigger">
                                        <div class="calendar">
                                            <span class="calendar-month">@workedDay.Date.ToString("MMM")</span>
                                            <span class="calendar-day">@workedDay.Date.ToString("dd")</span>
                                        </div>
                                        <div class="flex-1 position-relative ps-3">
                                            <p class="text-1000 mb-0">Time in: @workedDay.TimeIn.ToString("hh\\:mm")</p>
                                            <p class="text-1000 mb-0">Break: @workedDay.Break.ToString("hh\\:mm")</p>
                                            <p class="text-1000 mb-0">Time out: @workedDay.TimeOut.ToString("hh\\:mm")</p>
                                            <p class="text-1000 mb-0">Total hours: @workedDay.TotalHours.ToString("hh\\:mm")</p>
                                            <div class="border-dashed-bottom my-3"></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>
